html{
    height: 100%;
    width: 100%;

    }

    * {
        padding: 0px;
        margin: 0px;
        font-family: century;

    }

header {
    margin: top 0;
    padding:3em 1em 2em 1em;
    text-align: center;
    background-image:url(Project-1/images/flagga-2693137.jpg) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

   body{ 
          
          font-family: Arial;
          color:slategray;

        }


ul {
    list-style-type: none;
    float:right;
   }

 ul li{

    display: inline;
 } 