/* common styling for all pages */
body *{

    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 100%;
}

.header{
    height:320px;
    background-image: url("../images/The-old-city-of-Massawa-in-Eritrea-05271413329F708F.jpg");
    background-size: cover;
    background-position: center;
    position: sticky;
    margin-top:20px;
    margin-bottom: 2px;
    text-align:left;
    line-height: 20px;
}

.banar-text{
    text-align: left;
    padding: 10px 10px 10px 10px;
}

.header h1 p{
    padding:10px 2px;
    align-items:center;
    margin-top:15px;
    color:white;
    font-size: larger;
    width:100%;
}

nav{
    display:flex;
    padding: 7% 6%;  /*add some spaces*/
    justify-content: space-between;
    align-items:start;
}

nav ul{
    list-style: none;
    padding:0;
    margin:0;
}

.sitenav{
    flex:1; /* it will occupy the row*/
    text-align: right;
    float:right;
    margin:10px;
    min-height:50px;
    text-emphasis-color: rgb(153, 153, 240);
}

.sitenav ul li{
    display:inline-block; /*to display horrisontally*/
    list-style: none;
    padding:8px 12px;
    position:relative;
    text-decoration: none;
    font-size:larger;

}

.sitenav nav ul li a{
    display:inline-block;
    padding:.5em 20px;
    text-decoration: none;
    font-weight:bolder;
    font-size:xx-large;
    border:1px solid #dfaaaa;
    border-radius:  0.5em;
    background-color: rgb(132, 133, 187);
    margin:0.25em;
    line-height: 20PX;
}

a:link{color: rgb(50, 50, 201);}
a:visited{color: white;}
a:hover{color: rgb(38, 12, 231);}
a:active{color: rgb(54, 68, 220);}
    
.logo img{
    display: block;
    float:left;
    max-width:100px;
    height: 100px;
    margin-bottom: 15px;
    line-height: 20PX;
}

.main{
    display:flex; /* I have mede the main element a flexbox so the content and asides elements line upp in a row */
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
   
    width: 100%;
    margin-bottom : 5px; 
    background: white;
    position:relative;

}

.content{
    
    flex:1 1 47%;
    order:2;
    right:0%;
    max-width: 47%;
    margin-right:auto;
    margin-left: auto;
    
    background-color: aliceblue;
    position: relative;
    font-size: 14px;
    margin-bottom: 5px;
    line-height: 1.5em;
    list-style-position: inside;
}

.content img{
    margin-bottom: 10px;
    margin-top: 10px;
    max-width:100%;
    max-height:100%;
}



.aside1{
    
    max-width:25%;
    position:sticky;
    flex:1 2 25%;
    order:1;
    background-color: rgb(158, 184, 206);
    text-align: left;
    font-size: 14px;
    margin-bottom: 2px;
    line-height: 1.5em;
}

.aside1 img, .aside2 img{
    margin:auto;
    max-width: 100%;
    max-height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.aside2{
    
    max-width: 25%;
    position: sticky;
    flex:1 2 25%;
    order:3;
    background-color: rgb(194, 218, 237);
    text-align: left;
    margin-bottom: 2px;
    font-size: 14px;
    line-height: 1.5em;
    list-style-position: inside;
}

iframe{
    border-width:0px;

}
 .content .side1,.aside2 li span{
    font-weight: bold;

}
p::first-letter{
    font-size: 1.5rem;
}

.content p,.side1 p, .side2 p, {
    margin-left: 5px;
    margin-right: 5px;
}

fieldset{
    height: 50vh;
    border:2px solid rgb(66, 27, 224);
    display:flex;
    flex-direction: column;
}

label{ color:rgb(183, 183, 194);
    padding:5px 10px;
    margin-top: 10px;
}
label input{
    background-color: rgb(162, 173, 233);
    margin:15px;
    border:2px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
}
input::placeholder{
    height: 140px;
    padding-top: 15px;
    border-radius:10px;

}

button{
    align-items: center;
    margin-top: 15px;
    padding:5px 0;
}

footer{
    clear: right;
    padding-bottom: 20px;
    background-color: rgb(184, 203, 227);
}
