/* common styling for all pages */
body *{
    /*background-color:#67C1CA;*/
    /*width:auto;*/

    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 100%;

    

}

.header{min-height:20px;
   /* background-image: url(images/Entrance\ of\ Old\ Arab\ Souk.jpg);*/
   background-image: url(images/The-old-city-of-Massawa-in-Eritrea-05271413329F708F.jpg);
    background-size: cover;
    background-position: center;
    position:sticky;
    margin-top:20px;
    margin-bottom: 2px;
    text-align:left;
    line-height: 20px;
    /*ackground-color: whitesmoke;*/
}
  
    
    

.header h1{
    padding:2% 6%;
    align-items:center;
    margin-top:0;
    color:white;
    font-size: larger;
    width:100%;

}


nav{ 
    display:flex;
    /*flex-wrap: wrap;*/
    padding: 2% 6%;  /*add some spaces*/
    justify-content: space-between;
    align-items:center;
    position:sticky;
    top:0;
}

nav ul{
    list-style: none;
    padding:0;
    margin:0;
}

#sitenav{
    flex:1; /* it will occupy the row*/
    text-align: right;
    float:right;
    margin:10px;
    min-height:20px;
    text-emphasis-color: rgb(153, 153, 240);
    
}

#sitenav ul li{
    display:inline-block; /*to display horrisontally*/
    list-style: none;
    padding:8px 12px;
    position:relative;
    color:#ed9393;
    text-decoration: none;
    font-size:larger;

}

#sitenav nav ul li a{
    display:inline-block;
    padding:.5em 20px;
    text-decoration: none;
    font-weight:bolder;
    font-size:xx-large;
    border:1px solid #dfaaaa;
    border-radius:  0.5em;
    background-color: rgb(132, 159, 187);
    margin:0.25em;
    line-height: 20PX;
}

a:link{color: rgb(113, 113, 245);}
a:visited{color: white;}

/*a:visited{color: rgb(70, 39, 228);}*/
a:hover{color: rgb(38, 12, 231);}
a:active{color: rgb(9, 115, 186);}
    
.logo img{
    display: block;
    float:left;
    max-width:100%;
    height: 100px;
    margin-top: 0px;
    line-height: 20PX;
}

/*page1 (home)*/
.main{
    display:flex; /* I have mede the main element a flexbox so the content and asides elements line upp in a row */
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    min-height: 100px;
    width: 100%;
    margin-bottom : 5px; 
     
    /*margin-inline: auto;
    flex: 1 1 50%;
   
    padding-top: 0px;
    background: white;
    position:relative;*/
        
}

#content{
    
    flex:1 1 47%;
    order:2;
    right:0%;
    max-width: 47%;
    margin-right:auto;
    margin-left: auto;
    min-height: 100px;
    background-color: aliceblue;
    position: relative;
    font-size: 14px;
    margin-bottom: 5px;
    line-height: 1.5em;
    list-style-position: inside;
}

#content img{
    margin-bottom: 10px;
    margin-top: 10px;


}

#aside1{
    /*float:left;*/
    max-width:25%;
    min-height: 100px;
    flex:1 2 25%;
    order:1;
    left:0%;
    position:sticky;
    align-self: flex-start;
    background-color: rgb(158, 184, 206);
    font-size: 14px; 
    margin-bottom: 5px;  
    line-height: 1.5em;
}

#aside1 img, #aside2 img{
    margin:auto;
    max-width: 100%;
    max-height: 100%;
    /*margin-bottom: 10px;*/
    margin-top: 10px;
    margin-bottom: 10px;
}

#aside2{
    /*float:right;*/
    max-width: 25%;
    min-height: 100px;
    position: sticky;
    align-self: flex-start;
    flex:1 2 25%;
    order:3;
    right:0;
    background-color: rgb(194, 218, 237);
    text-align: left;
    margin-bottom: 5px;
    font-size: 14px; 
    line-height: 1.5em;
    list-style-position: inside;
}

p::first-letter{
    font-size: 1.5rem;
    /*font-weight: bold;*/
}

#side1 p, #side2 p, #content p{
    margin-left: 10px;
    margin-right: 10px;
}

#footer{
    clear: right;
    padding-bottom: 20px;
    background-color: aqua;
}
